/*font-family*/

h1 { font-family: Georgia; }

p { font-family: Arial; }

/*font-size*/

h1	{font-size: /*40px*/ 5em; }

/*font-weight*/



/*line-height*/



/*text-align*/



/*text-decoration*/



